.dark{
  /*border-style: dashed;
  border-color: red;*/
  background-image: url(../images/dark.png);
  height: 100px;
  background-repeat: space;
  background-position: center;
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #154871;
}
.green{
  width: 90%;
  margin: auto;
  /*border-style: dashed;
  border-color: red;*/
  background-color: #33cc66;
  border-radius: 5px;
  margin-top: 15px;
  padding-bottom: 15px;

}
.top-row{
  background-color: #1f8adf;
  padding-bottom: 30px;
  /*border-style: dotted;
  border-color: red;*/

}
.top-nav li{
  color: white;
  float: right;
  font-family: sans-serif;
  margin: 10px;
  vertical-align: middle;
  padding: 0 10px;
}
.search-bar{

}
h2{
  color: white;
  font-family: sans-serif;
  font-size: 35px;
}
.dashboard{
 border-style: dotted;
 border-color: transparent;
 padding-left: 20px;
}
.col-md-4{
  border-style: dotted;
  border-color: red;
  height: 500px;
  list-style-type: sans-serif;
  

}
.col-md-8{
  border-style: dotted;
  border-color: red;
}
.col-md-12{
  background-color: gray;
}
